.communityFeed{
    flex: 1;
    padding: 30px, 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#line{
    padding-top: 10px;
    color: #81bf06;
    font-weight: normal;
}