.communityFeed__topHalf{
    flex: 1;
    padding: 30px, 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#line{
    padding-top: 10px;
    color: #81bf06;
    font-weight: bold;
}

.communityFeed__bottomHalf{
    margin: 0px 13.87%;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}