.header{
    padding: 15px 30px; 
    /* 15px for top and bottom, 20px for left and right  */
    
    display: flex;
    justify-content: space-between; 
    /* horizontally */
    align-items: center;

    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left{
    display: flex;
}

.header__left > img{
    height: 40px;
}

.header__input{
    display: flex;
    align-items: center;
    height: 20px;
    background-color: #e8ffba;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

.header__input > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header__input > .MuiSvgIcon-root{
    /* MUI gives all of the icons this class  */
    color: grey;
}

.header__center{
    display: flex;
    flex: 1;
    margin: 0px 70px;
    justify-content: space-evenly;
}

.header__option{
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    /* It displays a finger as a cursor  */
}

.header__option > .MuiSvgIcon-root{
    /* MUI gives all of the icons this class  */
    color: black;
}

.header__option a {
    /* Your styles for the Link component within header__option class */
    text-decoration: none;
    color: inherit;
    /* Add more styles as needed */
}

.header__option:hover{
    background-color: #e8ffba;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: 0;
}

.header__option:hover > .MuiSvgIcon-root{
    color: #81bf06;
}

.header__option--active{
    border-bottom: 4px solid #81bf06;
}

.header__option--active > .MuiSvgIcon-root{
    color: #81bf06;
}

.header__right{
    display: flex;
}

.header__right__icon > .MuiSvgIcon-root{
    color: black;
    padding: 5px;
}

.header__info{
    display: flex;
    align-items: center;
}

.header__info > h4{
    margin-left: 10px;
}